<!doctype html>
<html class="nx-main980">
  
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta name="Description" content="人人网 校内是一个真实的社交网络，联络你和你周围的朋友。 加入人人网校内你可以:联络朋友，了解他们的最新动态；和朋友分享相片、音乐和电影；找到老同学，结识新朋友；用照片和日志记录生活,展示自我。"
    />
    <meta name="Keywords" content="Xiaonei,Renren,校内,大学,同学,同事,白领,个人主页,博客,相册,群组,社区,交友,聊天,音乐,视频,校园,人人,人人网"
    />
    <meta name="msApplication-ID" content="App" />
    <meta name="msApplication-PackageFamilyName" content="57722RenRenpreview.RenrenHD_fknrsfzqca1jw"
    />
    <link rel="shortcut icon" type="image/x-icon" href="__PUBLIC__/home/images/favicon-rr.ico?ver=3"
    />
    <link rel="apple-touch-icon" href="__PUBLIC__/home/images/
    apple_icon_.png" />
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="__PUBLIC__/home/images/favicon-rr.ico?ver=3"
    />
    <link rel="apple-touch-icon" href="__PUBLIC__/home/images/apple_icon_.png" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/base.css">
    <link href="__PUBLIC__/home/css/login.css" rel="stylesheet" type="text/css" media="all"
    />
    <title>
      人人网，中国领先的实名制SNS社交网络。加入人人网，找到老同学，结识新朋友。
    </title>
  </head>
  
  <body id="syshome" class="login">
    <div id="header">
      <div id="navBar" class="site-nav rr">
        <div class="navigation-wrapper">
          <div class="navigation navigation-new clearfix">
            <div id="logo2">
              <h1>
                <a href="http://www.renren.com" title="人人网 renren.com - 人人网校内是一个真实的社交网络，联系朋友，一起玩游戏">
                  <img alt="人人网 renren.com - 人人网校内是一个真实的社交网络，联系朋友，一起玩游戏" title="人人网 renren.com - 人人网校内是一个真实的社交网络，联系朋友，一起玩游戏"
                  src="__PUBLIC__/home/images/logo-big.jpg" />
                </a>
              </h1>
            </div>
            <div class="nav-body clearfix">
              <div class="nav-other">
                <div class="menu">
                  <a href="http://st.renren.com" target="_blank" class="st-btn">
                    学生团体申请入口
                  </a>
                </div>
                <div class="menu">
                  <a id="reg_link" title="注册" stats="homenav_reg" href="__MODULE__/Public/register">
                    注册
                  </a>
                </div>
                <div class="menu">
                  <a title="给我们提建议" stats="homenav_suggest" href="http://support.renren.com/link/suggest">
                    反馈意见
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="opi" class="page-wrapper clearfix">
      <div class="full-page-holder">
        <div class="full-page">
          <div class="login-page clearfix login-wrap">
            <div class="side-column login-box">
              <div class="login-panel ">
                <div class="radiusimg">
                  <div class="shadow">
                  </div>
                  <div class="pic">
                    <img src="__PUBLIC__/home/images/{$head|default='person.jpg'}" id="personhead" width="100" height:"100"/>
                  </div>
                  <!-- <img src="http://a.xnimg.cn/nx/apps/login/cssimg/person.jpg"> -->
                </div>
                <span id="errorMessage" class="errors_div" <if condition="$errorinfo eq null">style="display:none"</if>>
                  {$errorinfo}
                </span>
                <div class="yellow-error" id="yellow_error">
                  <a class="close" href="javascript:closeError();">
                  </a>
                  <p class="wrong">
                    您的用户名和密码不匹配
                  </p>
                  <p class="worp">
                    为了帐号安全，已向您的邮箱：
                    <strong id="sendemail">
                    </strong>
                    发送了一封确认信，请通过邮件内链接登录。
                  </p>
                  <p class="m-26">
                    <a id="gotoEmail" href="#" target="_blank">
                      打开邮箱查收确认信
                    </a>
                  </p>
                  <p class="m-26">
                    <a href="javascript:closeError();">
                      重新输入
                    </a>
                  </p>
                </div>
                <div class="yellow-error" id="account_stop">
                  <a class="close" href="javascript:closeStop();">
                  </a>
                  <p class="wrong">
                  </p>
                  <p class="center">
                    您的帐号已停止使用，如有疑问请联系
                    <a style="background:none;padding-left:0;" target="_blank" href="http://help.renren.com/#http://help.renren.com/support/contomvice?pid=2&selection={couId:193,proId:342,cityId:1000375}">
                      客服
                    </a>
                  </p>
                </div>
                <div class="yellow-error" id="account_lock">
                  <a class="close" href="javascript:closeLock();">
                  </a>
                  <p class="wrong">
                    您的帐号由于以下某种原因需要解锁才能登录
                  </p>
                  <ol>
                    <li>
                      删除过帐号
                    </li>
                    <li>
                      长时间没有登录网站
                    </li>
                    <li>
                      安全原因
                    </li>
                  </ol>
                  <p class="center">
                    <a href="http://safe.renren.com/relive.do">
                      立即解锁
                    </a>
                  </p>
                </div>
                <!------------ form提交表单 ------------>
                <form method="post" id="loginForm" class="login-form" action="__URL__/check">
                  <dl class="top clearfix">
                    <dd>
                      <input type="text" name="user" class="input-text" id="email" tabindex="1" value="{$user|default=''}" onchange="checkHead()" 
                       />
                    </dd>
                  </dl>
                  <script type="text/javascript">
                    function checkHead(){
                      document.getElementById('personhead').src="__PUBLIC__/home/images/person.jpg";
                      document.getElementById('email').focus();
                      
                    }

                  </script>
                  <dl class="pwd clearfix">
                    <dd>
                      <input type="password" id="password" name="password" placeholder="请输入密码" class="input-text"
                      tabindex="2" />
                     
                      <a class="forgetPwd" id="forgetPwd" href="http://safe.renren.com/findPass.do"
                      stats="home_findpassword">
                        忘记密码？
                      </a>
                    </dd>
                  </dl>
                  <div class="caps-lock-tips" id="capsLockMessage" style="display:none">
                  </div>
                  <dl class="savepassword clearfix">
                    <dt>
                      <label title="为了确保您的信息安全，请不要在网吧或者公共机房勾选此项！" for="autoLogin" class="labelCheckbox">
                        <input type="checkbox" name="autoLogin" id="autoLogin" value="true" tabindex="4"
                        />
                        下次自动登录
                      </label>
                    </dt>
                    <dd>
                      <span class="getpassword" id="getpassword">
                        <a href="http://safe.renren.com/findPass.do" stats="home_findpassword">
                          忘记密码？
                        </a>
                      </span>
                    </dd>
                  </dl>
                  <dl id="code" class="code clearfix">
                    <dt>
                      <label for="code">
                        验证码:
                      </label>
                    </dt>
                    <dd>
                      <input id="icode" type="text" name="icode" class="input-text" tabindex="3"
                      autocomplete="off" />
                      <label class="codetip" id="codeTip" for="icode">
                        请输入验证码
                      </label>
                    </dd>
                  </dl>
                  <dl id="codeimg" class="codeimg clearfix">
                    <dt>
                    </dt>
                    <dd>
                      <!--<img id="verifyPic_login" src="http://icode.renren.com/getcode.do?t=web_login&rnd=Math.random()"/>
                      -->
                    </dd>
                    <a class="changeone" href="javascript:refreshCode_login();">
                      换一个
                    </a>
                  </dl>
                  <dl class="bottom">
                    <input type="hidden" name="origURL" value="http://www.renren.com/home"
                    />
                    <input type="hidden" name="domain" value="renren.com" />
                    <input type="hidden" name="key_id" value="1" />
                    <input type="hidden" name="captcha_type" id="captcha_type" value="web_login"
                    />
                    <input type="submit" id="login" class="input-submit login-btn" stats="loginPage_login_button"
                    value="登录" tabindex="5" />
                  </dl>
                </form>
                <div class="regnow">
                  <input type="button" onclick="window.location='__MODULE__/Public/register'"
                  id="regnow" class="input-button login-btn regbutton" value="注册" tabindex="6"
                  stats="loginPage_signUp_button" />
                </div>
                <div class="login_corp">
                  <div class="login-word">
                    其它帐号登录：
                  </div>
                  <a title="移动" class="login-item yidong" href="https://open.mmarket.com:443/omee-aus/services/oauth/authorize?responseType=code&scope=getUserInfo&clientId=300007884008&redirectUri=http%3A%2F%2Fwww.renren.com%2Fbind%2Fcnmobile%2FloginCallBack&clientState=9"
                  id="login_cnmobile" stats="loginPage_baidu_link">
                  </a>
                  <a title="天翼" class="login-item tianyi" id="login_tianyi" href="https://oauth.api.189.cn/emp/oauth2/authorize?app_id=296961050000000294&response_type=code&redirect_uri=http://www.renren.com/bind/ty/tyLoginCallBack"
                  stats="loginPage_tianyi_link">
                  </a>
                  <a title="360" class="login-item lo360" id="login_360" href="https://openapi.360.cn/oauth2/authorize?client_id=5ddda4458747126a583c5d58716bab4c&response_type=code&redirect_uri=http://www.renren.com/bind/tsz/tszLoginCallBack&scope=basic&display=default"
                  stats="loginPage_360_link">
                  </a>
                  <a title="百度" class="login-item baidu" href="https://openapi.baidu.com/oauth/2.0/authorize?response_type=code&client_id=foRRWjPq8In3SIhmKQw1Pep3&redirect_uri=http%3A%2F%2Fwww.renren.com%2Fbind%2Fbaidu%2FbaiduLoginCallBack"
                  id="login_baidu" stats="loginPage_baidu_link">
                  </a>
                </div>
              </div>
            </div>
            <div class="main-column">
              <div id="mainRecommend" class="main-recommend">
                <div id="ad100000000061">
                  <div class="side-item-body clearfix" style="border-top-width: 1px; border-top-style: solid; border-top-color: rgb(206, 225, 238);">
                    <div class="figure">
                      <a id="ad1000063246000400005_1447088439806_adbox100000000061previewClickUrl"
                      class="link" href="http://wwv.renren.com/xn.do?ss=10113&amp;rt=27&amp;g=v6banner"
                      target="_blank">
                      </a>
                      <div id="ad1000063246000400005_1447088439806_adbox100000000061pic">
                        <a target="_blank" href="http://ebp.renren.com/ebpn/click.html?aid=1000063246000400005&amp;mc=0%5EC0%5EC1000063246000400005%5EC0%5EC0%5EC1%5EC100%5EC1447088172%5EC1000000_2%7C0%7C1991-01-01%7C24%7C4%7C0086310000000000%7C0_0086110000000000%7C0%7C0%7C0%7C0086310000000000%5EC100000000061%5EC0%5EC%5EC%5EC-&amp;refresh_source=0&amp;refresh_idx=0&amp;engine_type=&amp;ref=http%3A%2F%2Fwww.renren.com%2Fad_100000000061&amp;url=http%3A%2F%2Fwwv.renren.com%2Fxn.do%3Fss%3D10113%26rt%3D27%26g%3Dv6banner%26abflag%3Dpic">
                          <img width="600" height="360" src="__PUBLIC__/home/images/8b036c30-3c8b-45a0-bd32-98a08c7ff822.jpg">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <!--<script>
                load_jebe_ads(1)
                </script>-->
                <div class="login-recommend clearfix">
                  <div class="intro">
                    <div class="item">
                      <a class="qrcode content" href="#nogo" target="_blank">
                      </a>
                    </div>
                    <div class="item">
                      <a class="phone content" href="http://2014.renren.com/mobile#container4"
                      target="_blank">
                      </a>
                    </div>
                    <div class="item">
                      <a class="pad content" href="http://2014.renren.com/ipad" target="_blank">
                      </a>
                    </div>
                    <div class="item">
                      <a class="other content" href="http://2014.renren.com/" target="_blank">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ft-wrapper clearfix">
      <p>
        <strong>
          玩转人人
        </strong>
        <a href="http://page.renren.com/register/regGuide/" target="_blank">
          公共主页
        </a>
        <a href="http://public.renren.com/" target="_blank">
          公众平台
        </a>
        <a href="http://support.renren.com/helpcenter" target="_blank">
          客服帮助
        </a>
        <a href="http://www.renren.com/siteinfo/privacy" target="_blank">
          隐私
        </a>
      </p>
      <p>
        <strong>
          商务合作
        </strong>
        <a href="http://page.renren.com/marketing/index" target="_blank">
          品牌营销
        </a>
        <a href="http://bolt.jebe.renren.com/introduce.htm" class="l-2" target="_blank">
          中小企业
          <br />
          自助广告
        </a>
        <a href="http://dev.renren.com/" target="_blank">
          开放平台
        </a>
      </p>
      <p>
        <strong>
          公司信息
        </strong>
        <a href="http://www.renren-inc.com/zh/product/renren.html" target="_blank">
          关于我们
        </a>
        <a href="http://page.renren.com/gongyi" target="_blank">
          人人公益
        </a>
        <a href="http://www.renren-inc.com/zh/hr/" target="_blank">
          招聘
        </a>
      </p>
      <p>
        <strong>
          友情链接
        </strong>
        <a href="http://www.jingwei.com/" target="_blank">
          经纬网
        </a>
        <a href="http://wan.renren.com/" target="_blank">
          人人游戏
        </a>
        <a href="http://fenqi.renren.com/" target="_blank">
          人人分期
        </a>
        <a href="http://quxue.renren.com/" target="_blank">
          人人趣学
        </a>
      </p>
      <p>
        <strong>
          人人移动客户端下载
        </strong>
        <a href="http://mobile.renren.com/showClient?v=platform_rr&psf=42064"
        target="_blank">
          iPhone/Android
        </a>
        <a href="http://mobile.renren.com/showClient?v=platform_hd&psf=42067"
        target="_blank">
          iPad客户端
        </a>
        <a href="http://mobile.renren.com" target="_blank">
          其他人人产品
        </a>
      </p>
      <!--<p class="copyright-info">-->
      <!-- 临时添加公司信息用 -->
      <p class="copyright-info" style="margi-left: -20px">
        <span>
          公司全称：北京千橡网景科技发展有限公司
        </span>
        <span>
          公司电话：010-84481818
        </span>
        <span>
          <a href="mailto:admin@renren.com">
            公司邮箱：admin@renren.com
          </a>
        </span>
        <span>
          公司地址：北京市朝阳区酒仙桥中路18号
          <br>
          国投创意信息产业园北楼1层
        </span>
        <span>
          <img id="wenhuajingying_icon" style="height: 28px;float: left; margin-left: 60px;"
          src="__PUBLIC__/home/images/wenhuajingying.png" />
          <a href="http://sq.ccm.gov.cn/ccnt/sczr/service/business/emark/toDetail/DFB957BAEB8B417882539C9B9F9547E6"
          target="_blank">
            京网文[2013]0136-030号
          </a>
        </span>
        <span>
          <a href="http://www.miibeian.gov.cn/" target="_blank">
            京ICP证090254号
          </a>
        </span>
        <span>
          人人网&copy;2015
        </span>
        <span>
          <a href="#nogo" id="lawInfo">
            法律声明
          </a>
        </span>
      </p>
    </div>
    <!--<script src="http://s.xnimg.cn/a79117/nx/apps/login/login.js" type="text/javascript"></script>-->
  </body>

</html>