<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>在路上 后台主页</title>

    <!-- Bootstrap Core CSS -->
    <link href="__PUBLIC__/admin/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="__PUBLIC__/admin/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="__PUBLIC__/admin/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="__PUBLIC__/admin/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
	<div id="pageLoading"></div>
    <!------ 头部开始 ------>
	<header>	
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">SB 欢迎进入后台</a>
        <div class="menu-toggler sidebar-toggler">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>


	            <ul class="nav navbar-top-links navbar-right">
	                <li class="dropdown">
	                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
	                    </a>
	                    <ul class="dropdown-menu dropdown-messages">
	                        <li>
	                            <a href="#">
	                                <div>
	                                    <strong>John Smith</strong>
	                                    <span class="pull-right text-muted">
	                                        <em>Yesterday</em>
	                                    </span>
	                                </div>
	                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
	                            </a>
	                        </li>
	                        <li class="divider"></li>
	                        <li>
	                            <a href="#">
	                                <div>
	                                    <strong>John Smith</strong>
	                                    <span class="pull-right text-muted">
	                                        <em>Yesterday</em>
	                                    </span>
	                                </div>
	                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
	                            </a>
	                        </li>
	                        <li class="divider"></li>
	                        <li>
	                            <a href="#">
	                                <div>
	                                    <strong>John Smith</strong>
	                                    <span class="pull-right text-muted">
	                                        <em>Yesterday</em>
	                                    </span>
	                                </div>
	                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
	                            </a>
	                        </li>
	                        <li class="divider"></li>
	                        <li>
	                            <a class="text-center" href="#">
	                                <strong>Read All Messages</strong>
	                                <i class="fa fa-angle-right"></i>
	                            </a>
	                        </li>
	                    </ul>
	                    <!-- /.dropdown-messages -->
	                </li>
	                <!-- /.dropdown -->
	                <li class="dropdown">
	                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	                        <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
	                    </a>
	                    <ul class="dropdown-menu dropdown-tasks">
	                        <li>
	                            <a href="#">
	                                <div>
	                                    <p>
	                                        <strong>Task 1</strong>
	                                        <span class="pull-right text-muted">40% Complete</span>
	                                    </p>
	                                    <div class="progress progress-striped active">
	                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
	                                            <span class="sr-only">40% Complete (success)</span>
	                                        </div>
	                                    </div>
	                                </div>
	                            </a>
	                        </li>
	                        <li class="divider"></li>
	                        <li>
	                            <a href="#">
	                                <div>
	                                    <p>
	                                        <strong>Task 2</strong>
	                                        <span class="pull-right text-muted">20% Complete</span>
	                                    </p>
	                                    <div class="progress progress-striped active">
	                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
	                                            <span class="sr-only">20% Complete</span>
	                                        </div>
	                                    </div>
	                                </div>
	                            </a>
	                        </li>
	                        <li class="divider"></li>
	                        <li>
	                            <a href="#">
	                                <div>
	                                    <p>
	                                        <strong>Task 3</strong>
	                                        <span class="pull-right text-muted">60% Complete</span>
	                                    </p>
	                                    <div class="progress progress-striped active">
	                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
	                                            <span class="sr-only">60% Complete (warning)</span>
	                                        </div>
	                                    </div>
	                                </div>
	                            </a>
	                        </li>
	                        <li class="divider"></li>
	                        <li>
	                            <a href="#">
	                                <div>
	                                    <p>
	                                        <strong>Task 4</strong>
	                                        <span class="pull-right text-muted">80% Complete</span>
	                                    </p>
	                                    <div class="progress progress-striped active">
	                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
	                                            <span class="sr-only">80% Complete (danger)</span>
	                                        </div>
	                                    </div>
	                                </div>
	                            </a>
	                        </li>
	                        <li class="divider"></li>
	                        <li>
	                            <a class="text-center" href="#">
	                                <strong>See All Tasks</strong>
	                                <i class="fa fa-angle-right"></i>
	                            </a>
	                        </li>
	                    </ul>
	                    <!-- /.dropdown-tasks -->
	                </li>
	                <!-- /.dropdown -->
	                <li class="dropdown">
	                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
	                    </a>
	                    <ul class="dropdown-menu dropdown-alerts">
	                        <li>
	                            <a href="#">
	                                <div>
	                                    <i class="fa fa-comment fa-fw"></i> New Comment
	                                    <span class="pull-right text-muted small">4 minutes ago</span>
	                                </div>
	                            </a>
	                        </li>
	                        <li class="divider"></li>
	                        <li>
	                            <a href="#">
	                                <div>
	                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
	                                    <span class="pull-right text-muted small">12 minutes ago</span>
	                                </div>
	                            </a>
	                        </li>
	                        <li class="divider"></li>
	                        <li>
	                            <a href="#">
	                                <div>
	                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
	                                    <span class="pull-right text-muted small">4 minutes ago</span>
	                                </div>
	                            </a>
	                        </li>
	                        <li class="divider"></li>
	                        <li>
	                            <a href="#">
	                                <div>
	                                    <i class="fa fa-tasks fa-fw"></i> New Task
	                                    <span class="pull-right text-muted small">4 minutes ago</span>
	                                </div>
	                            </a>
	                        </li>
	                        <li class="divider"></li>
	                        <li>
	                            <a href="#">
	                                <div>
	                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
	                                    <span class="pull-right text-muted small">4 minutes ago</span>
	                                </div>
	                            </a>
	                        </li>
	                        <li class="divider"></li>
	                        <li>
	                            <a class="text-center" href="#">
	                                <strong>See All Alerts</strong>
	                                <i class="fa fa-angle-right"></i>
	                            </a>
	                        </li>
	                    </ul>
	                    <!-- /.dropdown-alerts -->
	                </li>
	                <!-- /.dropdown -->
	                <li class="dropdown">
	                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
	                    </a>
	                    <ul class="dropdown-menu dropdown-user">
	                        <li><a href="#"><i class="fa fa-user fa-fw"></i> 用户简介</a>
	                        </li>
	                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> 设置</a>
	                        </li>
	                        <li class="divider"></li>
	                        <li><a href="__MODULE__/Public/logout"><i class="fa fa-sign-out fa-fw"></i> 退出登录</a>
	                        </li>
	                    </ul>
	                    <!-- /.dropdown-user -->
	                </li>
	                <!-- /.dropdown -->
	            </ul>
	            <!-- /.navbar-top-links -->
			</div>
            <!-- /.navbar-header -->
            
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        
	</header>
    <!------ /头部结束 ------>
    <div id="wrapper">

        <!------ 左侧导航栏 ------>
        <nav role="navigation" style="margin-bottom: 0; margin-top: -1px;">
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse" id="sidebar-area">  
                    <ul class="nav" id="sidebar">
                        <!-- 搜索框 -->
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="搜索...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <div  class="search-icon">
                            	<a href="#"><i class="fa fa fa-search fa-fw"></i></a>
                            </div>
                        </li>
                        <!-- 主页 -->
                        <li>
                            <a href="__MODULE__/Index/index"> 
                                <i class="fa fa-dashboard fa-fw"></i>
                                <span class="side-menu-title">主页</span>
                            </a>
                        </li>
                        <!-- 审核 -->
                        <li>
                            <a href="__MODULE__/Check/index">
                                <i class="fa fa-ra fa-fw"></i> 
                                <span class="side-menu-title">审核</span>
                            </a>
                        </li>
                        <li>
                            <a href="__MODULE__/UserManage/index">
                                <i class="fa fa-male fa-fw"></i> 
                                <span class="side-menu-title">用户管理</span>
                            </a>
                        </li>
                        <li>
                            <a href="__MODULE__/Log/index">
                                <i class="fa fa-list-alt fa-fw"></i> 
                                <span class="side-menu-title">行为日志</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-collapse">
                                <i class="fa fa-gears fa-fw"></i> 
                                <span class="side-menu-title">系统管理</span>
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="__MODULE__/Sys/index">表情管理</a>
                                </li>
                                <li>
                                    <a href="__MODULE__/Sys/linkIndex">链接管理</a>
                                </li>
                            </ul>
                        </li>
                        <!-- 简单网页 -->
                        <li>
                            <a href="#" class="dropdown-collapse"><i class="fa fa-files-o fa-fw"></i> <span class="side-menu-title">简单网页</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="__PUBLIC__/admin/pages/blank.html">Blank Page</a>
                                </li>
                                <li>
                                    <a href="__MODULE__/Public/login">登录 Page</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!------ /左侧导航栏 ------>
                </div>
            </div>
        </nav>
        <!------ 中间主题内容 ------>
        <div id="page-wrapper">
            <div class="row" >
                <div class="col-lg-12" text-align="center">
                    <h2 class="page-header"><center><i class="fa fa-bell-o fa-10x"></i> <b>用户举报详情</b></center></h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!------ 第一块 ------>
            <div class="row center">
                <!------ 举报相关信息 ------>
                
                <div class="col-lg-12 well">
                    <div class="col-lg-3">
                        <div class="well">
                            <h4>举报编号</h4>
                            <p>23</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="well">
                            <h4>举报文件类型</h4>
                            <p>说说</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="well">
                            <h4>被举报文件编号</h4>
                            <p>98</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="well">
                            <h4>举报人</h4>
                            <p>刘志龙</p>
                        </div>
                    </div>
                </div>
                <!------ 被举报文件相关信息 ------>
                <div class="col-lg-6 " >
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            被举报文件详细信息（例如日志）
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#home" data-toggle="tab">日志标题</a>
                                </li>
                                <li><a href="#profile" data-toggle="tab">日志内容</a>
                                </li>
                                <li><a href="#messages" data-toggle="tab">添加时间</a>
                                </li>
                                <li><a href="#settings" data-toggle="tab">日志图片</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content" >
                                <div class="tab-pane fade in active" id="home">
                                    <p></p>
                                    <p>这是日志标题显示处</p>
                                </div>
                                <div class="tab-pane fade" id="profile">
                                    <p></p>
                                    <p>这是日志内容显示处</p>
                                </div>
                                <div class="tab-pane fade" id="messages">
                                    <p></p>
                                    <p>这是日志添加时间显示处</p>
                                </div>
                                <div class="tab-pane fade text-center" id="settings">
                                    <p></p>
                                    <img class="img-rounded" src="__PUBLIC__/home/images/large_kvZD_90e20003a0431e84.jpg" height="200" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <button type="button" class="btn btn-outline btn-primary" style="margin-top:40px;margin-left:70px;float:left">举报通过</button>
                <button type="button" class="btn btn-outline btn-primary" style="margin-top:40px;margin-left:30px;margin-bottom:100px;float:left">举报不通过</button>

            </div>
        </div>
        <!-- /中间主题内容 -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="__PUBLIC__/admin/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="__PUBLIC__/admin/bower_components/jquery-cookie-master/src/jquery.cookie.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="__PUBLIC__/admin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="__PUBLIC__/admin/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="__PUBLIC__/admin/dist/js/sb-admin-2.js"></script>
</body>

</html>
